<ion-grid class="page">
	<ion-row>
		<ion-col class="atm">
			<ion-grid class="screen container">
				<ion-row>
					<ion-col>
						Enter PIN
					</ion-col>
				</ion-row>
				<ion-row class="pin">
					<ion-col>
						{{guess[0] == undefined? "&#8226;":guess[0]}}
					</ion-col>
					<ion-col>
						{{guess[1] == undefined? "&#8226;":guess[1]}}
					</ion-col>
					<ion-col>
						{{guess[2] == undefined? "&#8226;":guess[2]}}
					</ion-col>
					<ion-col>
						{{guess[3] == undefined? "&#8226;":guess[3]}}
					</ion-col>
				</ion-row>
			</ion-grid>

			<hr>
			<ion-grid class="keypad">
				<ion-row>
					<ion-col>
						<button class="atmbutton" (click)="add(1)">1<small>QZ</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(2)">2<small>ABC</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(3)">3<small>DEF</small></button>
					</ion-col>
					<ion-col>
						<button class="rightButton cancel" (click)="remove()">CANCEL</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button class="atmbutton" (click)="add(4)">4<small>GHI</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(5)">5<small>LKJ</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(6)">6<small>MNO</small></button>
					</ion-col>
					<ion-col>
						<button class="rightButton clear" (click)="clear()">CLEAR</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button class="atmbutton" (click)="add(7)">7<small>PRS</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(8)">8<small>TUV</small></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(9)">9<small>WXY</small></button>
					</ion-col>
					<ion-col>
						<button class="rightButton enter" (click)="checkSolution()">ENTER</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button class="atmbutton"></button>
					</ion-col>
					<ion-col>
						<button class="atmbutton" (click)="add(0)">0</button>
					</ion-col>
					<ion-col>
						<button class="atmbutton"></button>
					</ion-col>
					<ion-col>
						<button class="rightButton"></button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-col>
		<ion-col class="mastermind">

			{{tries.length}} / {{maxTries}}





			<ion-grid>
				<ion-row *ngFor="let try of filler" class="guess">
					<ion-col>
						<ion-grid class="dots">
							<ion-row>
								<ion-col>

								</ion-col>
								<ion-col>

								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>

								</ion-col>
								<ion-col>

								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
					<ion-col>

					</ion-col>
					<ion-col>

					</ion-col>
					<ion-col>

					</ion-col>
					<ion-col>

					</ion-col>
					<ion-col>

					</ion-col>

				</ion-row>

				<ion-row *ngFor="let try of tries" class="guess">
					<ion-col>
						<ion-grid class="dots">
							<ion-row>
								<ion-col class="{{try.dots[0]}}">

								</ion-col>
								<ion-col class="{{try.dots[1]}}">

								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col class="{{try.dots[2]}}">

								</ion-col>
								<ion-col class="{{try.dots[3]}}">

								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-col>
					<ion-col><span class="number number{{try.guess[0]}}">
						{{try.guess[0]}}</span>
					</ion-col>
					<ion-col><span class="number number{{try.guess[1]}}">
						{{try.guess[1]}}</span>
					</ion-col>
					<ion-col><span class="number number{{try.guess[2]}}">
						{{try.guess[2]}}</span>
					</ion-col>
					<ion-col><span class="number number{{try.guess[3]}}">
						{{try.guess[3]}}</span>
					</ion-col>
					<ion-col>

					</ion-col>
				</ion-row>
			</ion-grid>




		</ion-col>


	</ion-row>

</ion-grid>